<%= form_with(model: access_group) do |form| %>
  <% if access_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(access_group.errors.count, "error") %> prohibited this access_group from being saved:</h2>

      <ul>
        <% access_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
